<ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        Customer
      </ion-title>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/customers"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <!-- <ion-list-header>List Notes</ion-list-header> -->
      <ion-item>
        <ion-label>{{ customer?.id }}</ion-label>
        <ion-note slot="end">ID</ion-note>
      </ion-item>
      <ion-item>
          <ion-label>{{ customer?.first_name }} {{ customer?.last_name}}</ion-label>
          <ion-note slot="end">NAME</ion-note>
        </ion-item>
  </ion-content>
