<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/customers"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Customer
      </ion-title>      
      <ion-buttons slot="end" (click)="presentAlertConfirm()">
        <ion-button>
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <!-- <ion-list-header>List Notes</ion-list-header> -->
      <ion-item>
        <ion-label>{{ customer?.id }}</ion-label>
        <ion-note slot="end">ID</ion-note>
      </ion-item>
      <ion-item>
          <ion-label>{{ customer?.first_name }} {{ customer?.last_name}}</ion-label>
          <ion-note slot="end">NAME</ion-note>
        </ion-item>

        <ion-item>
            <ion-label>{{ customer?.phone }}</ion-label>
            <ion-note slot="end">PHONE</ion-note>
          </ion-item>

        <ion-fab vertical="bottom" horizontal="end" slot="fixed">
          <ion-fab-button [routerLink]=" '/customers/edit/' + customer?.id   " routerDirection='forward' color="primary">
            <ion-icon name="create" class='fab-button'></ion-icon>
          </ion-fab-button>
        </ion-fab>

  </ion-content>
